<div class="container">
  <h2>ブックマーク編集</h2>
  <div id="bookmark-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @bookmark.video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h3><%= video_title(@bookmark.video_id) %></h3>
  </div>

  <%= render 'shared/error_messages', obj: @bookmark %>
  <% if flash[:edit_error_message].present? %>
    <ul>
      <li><%= flash[:edit_error_message] %></li>
    </ul>
  <% end %>

    <%= form_with model: @bookmark do |f| %>
      <%= f.label :url, "URL" %><br />
      <%= f.text_field :url, autofocus: true %><br />

      <%= f.label :description, "動画の説明" %><br />
      <%= f.text_area :description %><br />

      <% if Category.where(user_id:@user.id).present? %>
        <%= f.label :category, "カテゴリー" %><br />
        <%= f.collection_check_boxes(:category_ids, @user.categories, :id, :name) do |category| %>
          <%= category.label do %>
            <%= category.check_box %>
            <%= category.text %>
          <% end %>
        <% end %>
      <% end %><br />

        <%= f.fields_for :categories, @bookmark.categories.last do |category| %>
          <%= category.label :name, "カテゴリーを作成する" %>
          <%= category.text_field :name %><br />
          <%= category.hidden_field :user_id, value: @user.id %>
        <% end %>

      <%= f.label :is_public, "おすすめ動画として公開する" %>
      <%= f.check_box :is_public %><br />

      <%= f.hidden_field :user_id, value: @user.id %>

        <%= f.fields_for :timestamps, @bookmark.timestamps.sort_by(&:start_time) do |timestamp| %>
          <%= timestamp.label :hour, "時間" %>
          <%= timestamp.number_field :hour %>

          <%= timestamp.label :minute, "分" %>
          <%= timestamp.number_field :minute %>

          <%= timestamp.label :second, "秒" %>
          <%= timestamp.number_field :second %>

          <%= timestamp.label :comment, "メモ" %>
          <%= timestamp.text_field :comment %><br />

          <%= timestamp.label :_destroy, "削除" %>
          <%= timestamp.check_box :_destroy %><br />

          <%= timestamp.hidden_field :bookmark_id, value: @bookmark.id %>
        <% end %>

      <%= f.submit "登録" %>
    <% end %>
</div>
