<% content_for(:title, "ブックマーク編集") %>
<div id="bookmark-edit" class="container">
  <h1 class="text-center mtｰ3 mb-4">ブックマーク編集</h1>
  <div id="bookmark-edit__row" class="row justify-content-center align-items-center">
    <div id="bookmark-edit__column" class="col-lg-8 col-md-10">
      <div class="bookmark-edit__video-container">
        <div id="bookmark-video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @bookmark.video_id %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>

      <div class="bookmark-edit__form-link-container">
        <%= render 'shared/error_messages', obj: @bookmark %>

        <div id="bookmark-edit__box">
          <%= form_with model: @bookmark, id: "bookmark-edit__form", class: "form mb-1" do |f| %>

            <div class="bookmark-edit__form-group mb-3">
              <%= f.label :url, "URL" %>
              <%= f.text_field :url, class: "form-control", autofocus: true %>
            </div>

            <div class="bookmark-edit__form-group mb-4">
              <%= f.label :description, "動画メモ" %>
              <%= f.text_area :description, class: "form-control" %>
            </div>

            <div class="bookmark-edit__category-edit">
              <div class="bookmark-edit__form-group mb-1">
                <% if @user.categories.present? %>
                  <%= f.label :category, "カテゴリー", class: "d-block mb-1" %>
                  <%= f.collection_check_boxes(:category_ids, @user.categories, :id, :name) do |category| %>
                    <%= category.check_box class: "btn-check" %>
                    <%= category.label class: "bookmark-edit__category-button btn" do %>
                      <%= category.text %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <div class="bookmark-edit__form-group col-lg-6 col-sm-8 mb-4">
                <%= f.fields_for :categories, @bookmark.categories.new do |category| %>
                  <%= category.label :name, "カテゴリーを作成する" %>
                  <%= category.text_field :name, class: "form-control" %>
                  <%= category.hidden_field :user_id, value: @user.id %>
                <% end %>
              </div>
            </div>

            <div class="bookmark-edit__form-group mb-3">
              <%= f.label :is_public, "おすすめ動画として公開する", class: "form-check-label" %>
              <%= f.check_box :is_public, class: "form-check-input" %>
              <%= f.hidden_field :user_id, value: @user.id %>
            </div>

            <div class="bookmark-edit__form-group-action">
              <%= f.submit "登録", class: "bookmark-edit__button btn mb-5" %>
            </div>

            <div class="bookmark__back">
              <%= link_to "戻る", "javascript:history.back()" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
