<% content_for(:title, "ブックマーク一覧") %>
<div id="bookmark-index" class="container">
  <h1 class="text-center mt-3">ブックマーク一覧</h1>
  <div id="bookmark-index__row" class="row justify-content-center align-items-center">
    <div id="bookmark-index__column" class="col-md-10 mb-4">
      <%= render 'shared/categories_new_btn' %>

      <%= render 'shared/categories', { categories: @user.categories } %>
      <%= render 'shared/search', { q: @q } %>

      <div class="bookmark-index__sort-link text-center">
        <%= link_to "新しい順", bookmarks_path("q" => { "s" => "created_at desc" }) %>
        |
        <%= link_to "古い順", bookmarks_path("q" => { "s" => "created_at asc" }) %>
      </div>

      <div id="bookmark__row" class="row d-flex justify-content-center align-items-start">
        <%= render partial: 'shared/bookmark', collection: @bookmarks %>
        <%= paginate @bookmarks, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>
