<div class="container">
  <h2>ブックマーク登録</h2>
  <%= render 'shared/error_messages', obj: @bookmark %>
  <%= form_with model: @bookmark do |f| %>
    <div class="field">
      <%= f.label :url, "URL" %><br />
      <%= f.text_field :url, autofocus: true %>
    </div> 
    <div class="field">
      <%= f.label :description, "動画の説明" %><br />
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :category, "カテゴリー" %><br />
      <%= f.collection_check_boxes(:category_ids, @user.categories, :id, :name) do |category| %>
        <%= category.label do %>
          <%= category.check_box %>
          <%= category.text %>
        <% end %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :is_public, "おすすめ動画として公開する" %>
      <%= f.check_box :is_public %>
    </div>
    <%= f.hidden_field :user_id, value: @user.id %>

    <div class="actions">
      <%= f.submit "登録" %>
    </div>
  <% end %>
</div>
