<% content_for(:title, "ブックマーク登録") %>
<div id="bookmark-new" class="container">
  <h1 class="text-center mt-3 mb-4">ブックマーク登録</h1>
  <div id="bookmark-new__row" class="row justify-content-center align-items-center">
    <div id="bookmark-new__column" class="col-lg-6 col-md-8">

      <%= render 'shared/error_messages', obj: @bookmark %>

      <div id="bookmark-new__box">
        <%= form_with model: @bookmark, id: "bookmark-new__form", class: "form" do |f| %>

          <div class="bookmark-new__form-group mb-3">
            <%= f.label :url, "URL" %>
            <%= f.text_field :url, class: "form-control", autofocus: true %>
          </div>

          <div class="bookmark-new__form-group mb-3">
            <%= f.label :description, "動画メモ" %>
            <%= f.text_area :description, class: "form-control" %>
          </div>

          <div class="bookmark-new__category">
            <% if Category.where(user_id: @user.id).present? %>
              <div class="bookmark-new__form-group mb-3">
                <%= f.label :category, "カテゴリー", class: "d-block mb-1" %>
                <%= f.collection_check_boxes(:category_ids, @user.categories, :id, :name) do |category| %>
                  <%= category.check_box class: "btn-check" %>
                  <%= category.label class: "bookmark-new__category-button btn" do %>
                    <%= category.text %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

          <div class="bookmark-new__form-group col-lg-6 mb-3">
            <%= f.fields_for :categories do |category| %>
              <%= category.label :name, "カテゴリーを作成する" %>
              <%= category.text_field :name, class: "form-control" %>
              <%= category.hidden_field :user_id, value: @user.id %>
            <% end %>
          </div>
        </div>

          <div class="bookmark-new__form-group mb-3">
            <%= f.label :is_public, "おすすめ動画として公開する", class: "form-check-label" %>
            <%= f.check_box :is_public, class: "form-check-input" %>
          </div>

          <%= f.hidden_field :user_id, value: @user.id %>

          <div class="bookmark-new__form-group-action mb-3">
            <%= f.submit "登録", class: "bookmark-new__button btn mb-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
