<% content_for(:title, @bookmark.video_title) %>
<%= turbo_page_requires_reload %>
<div id="bookmark-show" class="container mb-4">
  <div id="bookmark-show__row" class="row justify-content-center align-items-center">
    <div id="bookmark-show__column" class="col-lg-8 col-md-10 mb-4">
      <div id="bookmark-video" class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/<%= @bookmark.video_id %>" class="youtube-video-player" loading="lazy" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div class="accordion mt-1 mb-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="bookmark-show__video-title"><%= @bookmark.video_title %></span>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <span class="bookmark-show__video-description"><%= simple_format(h(video_description(@bookmark.video_id))) %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="bookmark-show__description mb-3">
        <%= simple_format(h(@bookmark.description)) %>
      </div>

      <% if @user.present? && @bookmark.user_id == @user.id %>
        <% if @bookmark.is_public == true %>
          <div class="d-flex align-items-center mb-4">
            <div class="bookmark-show__recommendation mx-2">
              おすすめ動画として公開中
            </div>

            <div class="bookmark-show__x-share mx-2">
              <%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@bookmark.video_title}%20|%20推しTube%0a",
                          target: "_blank",
                          rel: "noopener" do %>
                <i class="fa-brands fa-x-twitter"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= render partial: "shared/timestamps_list",
                 collection: @bookmark.timestamps.sort_by(&:start_time),
                 as: :timestamp,
                 locals: { timestamps: @bookmark.timestamps.sort_by(&:start_time), user: @user } %>

      <% if @user.present? && @bookmark.user_id == @user.id %>
        <%= render "shared/timestamps_new", { timestamp: @timestamp, bookmark: @bookmark } %>
        <div class="bookmark-show__link mt-3">
          <%= link_to edit_bookmark_path(@bookmark) do %>
            <i class="bi bi-pencil-fill mx-1" aria-hidden="true"></i> ブックマーク編集
          <% end %>
          /
          <%= link_to bookmark_path(@bookmark), data: { turbo_method: :delete, turbo_confirm: "ブックマークを削除しますか？" } do %>
            <i class="bi bi-trash3-fill mx-1" aria-hidden="true"></i> ブックマーク削除
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
