<div id="user-edit" class="container">
  <h3 class="text-center pt-5">ユーザー情報変更</h3>
  <div id="user-edit__row" class="row justify-content-center align-items-center">
    <div id="user-edit__column" class="col-md-6">
      <%= render "devise/shared/error_messages", resource: resource %>
      <div id="user-edit__box">
        <%= form_with model: @user, id: "user-edit__form", url: user_registration_path do |f| %>

          <div class="user-edit__form-group mb-3">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class: "form-control", autofocus: true %>
          </div>

          <div class="user-edit__form-group mb-3">
            <%= f.label :password, "新しいパスワード" %> <span class="registration__password-validation">※8〜30文字</span>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <div class="user-edit__form-group mb-3">
            <%= f.label :password_confirmation, "新しいパスワード（確認）" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>

          <div class="user-edit__form-group mb-3">
            <%= f.label :current_password, "現在のパスワード" %>
            <%= f.password_field :current_password, class: "form-control" %>
          </div>

          <div class="user-edit__form-group-action">
            <%= f.submit "変更", class: "btn mt-2 mb-2 user-edit__button" %>
            <%= link_to "退会する", users_confirm_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

