<div class="registrations-sessions-container container">
  <h2>ユーザー情報の変更</h2>
  
  <%= form_with model: @user, url: user_registration_path do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  
    <div class="field">
      <%= f.label :password, "新しいパスワード" %><br />
      <%= f.password_field :password %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
      <%= f.password_field :password_confirmation %>
    </div>
  
    <div class="field">
      <%= f.label :current_password, "現在のパスワード" %><br />
      <%= f.password_field :current_password %>
    </div>
  
    <div class="actions">
      <%= f.submit "変更" %>
    </div>
  <% end %>
</div>
