<% content_for(:title, "ユーザー情報変更") %>
<div id="user-edit" class="container">
  <h1 class="text-center pt-4 mb-3">ユーザー情報変更</h1>
  <div id="user-edit__row" class="row justify-content-center align-items-center">
    <div class="text-center">
      <span class="required">*</span>がついている項目は入力必須です
    </div>
    <div id="user-edit__column" class="col-lg-6 col-md-8">
      <%= render "devise/shared/error_messages", resource: resource %>
      <div id="user-edit__box">
        <%= form_with model: @user, id: "user-edit__form", url: user_registration_path do |f| %>

          <div class="user-edit__form-group mb-3">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class: "form-control", autofocus: true %>
          </div>

          <div class="user-edit__form-group mb-3">
            <%= f.label :password, "新しいパスワード" %> <span class="validation">※8〜30文字</span>
            <div class="input-group">
              <%= f.password_field :password, class: "form-control" %>
              <span class="input-group-text" id="user_password_btn"><i class="bi bi-eye-fill" aria-label="パスワードを表示"></i></span>
            </div>
          </div>

          <div class="user-edit__form-group mb-3">
            <%= f.label :password_confirmation, "新しいパスワード（確認用）" %>
            <div class="input-group">
              <%= f.password_field :password_confirmation, class: "form-control" %>
              <span class="input-group-text" id="user_password_confirmation_btn"><i class="bi bi-eye-fill" aria-label="パスワードを表示"></i></span>
            </div>
          </div>

          <div class="user-edit__form-group mb-3">
            <%= f.label :current_password, "現在のパスワード" %><span class="required">*</span>
            <div class="input-group">
              <%= f.password_field :current_password, class: "form-control" %>
              <span class="input-group-text" id="user_current_password_btn"><i class="bi bi-eye-fill" aria-label="パスワードを表示"></i></span>
            </div>
          </div>

          <div class="user-edit__form-group-action justify-content-between align-items-center d-flex">
            <%= f.submit "変更", class: "btn shadow-sm mt-2 mb-2 user-edit__button" %>
            <%= link_to "退会する", confirm_users_path, class: "d-inline" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
