<% content_for(:title, "プロフィール編集") %>
<div id="profile-edit" class="container">
  <h1 class="text-center pt-4">プロフィール編集</h1>
  <div id="profile-edit__row" class="row justify-content-center align-items-center">
    <div id="profile-edit__column" class="col-lg-6 col-md-8">
      <% if @user.errors.any? %>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <div id="profile-edit__box">
        <%= form_with(model: @user, id: "profile-edit__form", class: "form", url: profile_edit_path, method: :post) do |f| %>

          <div class="profile-edit__form-group mb-3">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, class: "form-control", autofocus: true %>
          </div>

          <div class="profile-edit__form-group mb-3">
            <%= f.label :profile, "プロフィール" %>
            <%= f.text_area :profile, class: "form-control" %>
          </div>

          <div class="profile-edit__form-group mb-3">
            <%= f.label :icon, "アイコン画像" %>
            <%= f.file_field :icon, class: "form-control" %>
          </div>

          <div class="profile-edit__form-group-action">
            <%= f.submit "変更", class: "btn mt-2 mb-1 profile-edit__button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
