<% content_for(:title, @user.name) %>
<div id="profile-show" class="container">
  <div id="profile-show__row" class="row justify-content-center align-items-center">
    <div id="profile-show__column" class="col-md-10 mb-4">
      <div class="profile-show__user text-center mb-4">
        <% if @user.icon.present? %>
          <%= image_tag @user.icon, class: "profile-show__icon d-block mt-3 mb-1" %>
        <% end %>
        <span class="profile-show__username d-block mb-1">
          <%= @user.name %>
        </span>
        <span class="profile-show__profile d-block mb-2">
          <%= simple_format(h(@user.profile)) %>
        </span>
        <div class="profile-show__link">
          <% if current_user.present? && @user.id == current_user.id %>
            <%= link_to "プロフィール編集", profile_edit_path %> / <%= link_to "ユーザー情報変更", edit_user_registration_path %>
          <% end %>
        </div>
      </div>
      <%= turbo_frame_tag "bookmarks-list", autoscroll: true, data: { autoscroll_block: "start" } do %>
        <% if @bookmarks.present? %>
          <div class="bookmark-index__sort-link text-center">
            <%= link_to "新しい順", user_path(@user, latest: "true") %> | <%= link_to "古い順", user_path(@user, oldest: "true") %>
          </div>

          <div id="bookmark__row" class="row d-flex justify-content-center align-items-start">
            <%= render partial: 'shared/bookmark', collection: @bookmarks, as: :bookmark %>
            <%= paginate @bookmarks, theme: 'bootstrap-5' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
