<% content_for(:title, "パスワード再設定") %>
<div id="password-new" class="container">
  <h1 class="text-center pt-4">パスワード再設定</h1>
  <div id="password-new__row" class="row justify-content-center align-items-center">
    <div id="password-new__column" class="col-lg-6 col-md-8">
      <div id="password-new__box">

        <%= form_with model: @user, id: "password-new__form", class: "form", url: user_password_path do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="password-new__form-group mb-3">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class: "form-control", autofocus: true %>
          </div>

          <div class="password-new__form-group mb-3">
            <%= f.submit "パスワード再設定メールを送信", class: "btn shadow-sm mt-2 mb-1 password-new__button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
