<%= turbo_frame_tag category do %>
  <div id="categories-new__row" class="row justify-content-center mb-5">
    <div class="categories-new__form-group text-center col-lg-4 col-sm-6">
      <%= form_with model: category do |f| %>
        <%= f.label :name, "カテゴリー名" %> <span class="validation">※20文字以内</span>
        <%= render 'shared/error_messages', obj: category %>
        <%= f.text_field :name, class: "form-control justify-content-center align-items-center" %>
        <%= f.hidden_field :user_id, value: user.id %>
        <%= f.submit "作成", class: "categories-new__button btn shadow-sm mt-1" %>
        <%= link_to "キャンセル", new_cancel_categories_path, class: "btn btn-light shadow-sm mt-1" %>
      <% end %>
    </div>
  </div>
<% end %>
