<div>
  <%= form_with model: category do |f| %>
    <div class="field">
      <%= f.label :category_name, "カテゴリー名" %><br />
      <%= f.text_field :category_name %>
    </div> 
    <%= f.hidden_field :user_id, value: user.id %>
    <%= f.submit "作成" %>
  <% end %>
</div>
