<tr>
  <td><button class="btn text-nowrap" id="<%= "timestamp-#{timestamps.index(timestamp)}-m" %>"><%= timestamp.hour %> : <%= timestamp.minute %> : <%= timestamp.second %></button></td>
  <td><%= timestamp.comment %></td>
</tr>
