<tr>
  <td><button class="timestamps__button btn text-nowrap me-2" id="<%= "timestamp-#{timestamps.index(timestamp)}" %>"><%= timestamp.hour %> : <%= timestamp.minute %> : <%= timestamp.second %></button></td>
  <td><%= timestamp.comment %></td>
</tr>
