<%= turbo_frame_tag timestamp do %>
<div class="bookmark-show__timestamps-list my-2">
  <table>
    <tr>
      <td><button class="timestamps__button btn text-nowrap me-2" id="<%= "timestamp-#{timestamps.index(timestamp)}" %>"><%= timestamp.hour %> : <%= timestamp.minute %> : <%= timestamp.second %></button></td>
      <td><%= timestamp.comment %></td>
      <% if user.present? && timestamp.bookmark.user_id == user.id %>
        <td><%= link_to "編集", edit_timestamp_path(timestamp) %></td>
        <td><%= link_to "削除", timestamp_path(timestamp), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }  %></td>
      <% end %>
    </tr>
  </table>
</div>
<% end %>
