<%= turbo_frame_tag timestamp do %>
  <div class="bookmark-show__timestamps-list my-2">
    <table class="timestamps-table timestamps-table-<%= "#{timestamps.index(timestamp)}" %>">
      <tr>
        <td class="timestamps__td1">
          <button class="timestamps__button btn shadow-sm text-nowrap me-2" id="<%= "timestamp-#{timestamps.index(timestamp)}" %>">
            <%= timestamp.hour %> : <%= timestamp.minute %> : <%= timestamp.second %>
          </button>
        </td>
        <td class="timestamps__td2">
          <%= timestamp.comment %>
        </td>
        <% if user.present? && timestamp.bookmark.user_id == user.id %>
          <td class="timestamps__td3">
            <%= link_to edit_timestamp_path(timestamp), class: "timestamp__edit-link" do %>
              <i class="bi bi-pencil-fill mx-1" aria-label="タイムスタンプの編集"></i>
            <% end %>
          </td>
          <td class="timestamps__td4">
            <%= link_to timestamp_path(timestamp),
                        class: "timestamp__delete-link",
                        data: { turbo_method: :delete, turbo_confirm: "タイムスタンプを削除しますか？" } do %>
              <i class="bi bi-trash3-fill mx-1" aria-label="タイムスタンプの削除"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
<% end %>
