<table>
  <tr>
    <td><button class="btn" id="<%= "timestamp-#{timestamps.index(timestamp)}" %>"><%= timestamp.hour %> : <%= timestamp.minute %> : <%= timestamp.second %></button></td>
    <td><%= timestamp.comment %></td>
  </tr>
</table>
