<div id="category-show" class="container">
  <h2 class="text-center mb-5"><%= @category.name %></h2>
  <div id="category-show__row" class="row justify-content-center align-items-center">
    <div id="category-show__column" class="col-md-10">
      <%= render 'shared/categories', { categories: @categories } %>
      <%= render 'shared/categories_edit', { category: @category, user: @user } %>

      <% if @category.bookmarks.present? %>
        <div id="bookmark__row" class="row d-flex justify-content-center align-items-start">
          <%= render partial: 'shared/bookmark', collection: @category.bookmarks.order(created_at: :desc).page(params[:page]) %>
          <%= paginate @category.bookmarks.order(created_at: :desc).page(params[:page]), theme: 'bootstrap-5' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
