<% content_for(:title, @category.name) %>
<%= turbo_page_requires_reload %>
<div id="categories-show" class="container">
  <h1 class="text-center mt-3"><%= @category.name %></h1>
  <div id="categories-show__row" class="row justify-content-center align-items-center">
    <div id="categories-show__column" class="col-md-10">
      <%= turbo_frame_tag @category do %>
        <div class="text-center mb-4">
          <%= link_to edit_category_path(@category), class: "category__edit-link" do %>
          <i class="bi bi-pencil-fill mx-2" aria-label="カテゴリー名の編集"></i>
          <% end %>
          <%= link_to category_path(@category),
                      class: "category__delete-link",
                      data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } do %>
            <i class="bi bi-trash3-fill mx-2" aria-label="カテゴリーの削除"></i>
          <% end %>
        </div>
      <% end %>

      <%= render 'shared/categories', { categories: @categories } %>

      <%= turbo_frame_tag "bookmarks-list", autoscroll: true, data: { autoscroll_block: "start" } do %>
        <% if @category.bookmarks.present? %>
          <div id="bookmark__row" class="row d-flex justify-content-center align-items-start">
            <%= render partial: 'shared/bookmark', collection: @category.bookmarks.order(created_at: :desc).page(params[:page]) %>
            <%= paginate @category.bookmarks.order(created_at: :desc).page(params[:page]), theme: 'bootstrap-5' %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
