<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= include_gon %>
    <meta name="viewport" content="width=device-width,initial-scale=1, viewport-fit=cover">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= render 'shared/header', user: @user %>
    <div class="page__container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </div>
  </body>
</html>
